* {
  box-sizing: border-box;
}
.html {
  min-height: 100%;
  min-width: 100%;
}
/*Header*/

.up-menu {
  display: flex;
  float: right;
  height: 8em;
  border-bottom: solid 1px #000000;
}

ul#horizontal-list-2 li {
  color: black;
  list-style: none;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  row-gap: 200px;
  height: 8em;
  border-bottom: solid 1px #000000;
}
.logo-oba {
  box-sizing: content-box;
  align-content: left;
}

#menu-outer {
  height: 84px;
  padding-bottom: 200px;
}

.table {
  display: table;
}

.header a {
  list-style: none;
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-bottom: 200px;
  display: flex;
  gap: 3em;
}
ul#horizontal-list li {
  display: inline;
}
button {
  border-radius: 10%;
  border: 2px solid #0000004e;
  width: 200px;
  height: 40px;
  background-color: #ffffff;
}

/*Body*/

body {
  line-height: 25px;
  color: #000000;
}

ul#breadcrumbs {
  min-width: 706px;
  list-style: none;
  padding-bottom: 200px;
  display: flex;
  gap: 0.5em;
  margin-left: -25px;
}
ul#breadcrumbs li {
  display: inline;
}
ul#breadcrumbs a {
  color: #0000008e;
}

/* Mijn krankzinnige idee om een calender te copy-pasten van internet */

element.style {
  display: block;
}
#datepicker {
  display: block;
}
.ui-datepicker {
  width: 100%;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
}
.ui-datepicker-calendar {
  clear: both;
  margin: auto;
}
.ui-datepicker-calendar th {
  font-size: 1em;
  height: 35px;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  color: #000000;
}

.ui-datepicker-calendar {
  color: black;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: #999999;
  color: #000000;
  line-height: 25px;
  margin-left: 52.2px;
  margin-right: 52.2px;
  text-align: center;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
